@model IEnumerable<DuAn_QLCY.Models.EmploymentContract>

@{
    ViewData["Title"] = "EmploymentContractsList";
}

<h1>EmploymentContractsList</h1>

<p>
    <a asp-action="CreateEmploymentContracts">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                    <a asp-action="UpdateEmploymentContracts" asp-route-id="@item.ContractId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Details</a> |
                    <a asp-action="DeleteEmploymentContracts" asp-route-id="@item.ContractId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
